@import "./basic.scss";
@import "./mixin.scss";

// 默认样式
.ai-btn {
  position: relative;
  display: inline-block;
  overflow: hidden;
  font-weight: $ai-btn-font-weight;
  line-height: $ai-btn-line-height;
  color: $body-color;
  white-space: nowrap;
  text-align: center;
  vertical-align: middle;
  background-image: none;
  border: $ai-btn-border-width solid transparent;
  box-shadow: 0 1px 5px #0003, 0 2px 2px #00000024, 0 3px 1px -2px #0000001f;
  @include button-size(
    $ai-btn-padding-y,
    $ai-btn-padding-x,
    $ai-btn-font-size,
    $border-radius
  );
  // box-shadow: $ai-btn-box-shadow;
  cursor: pointer;
  transition: $ai-btn-transition;

  &.disabled,
  &[disabled] {
    cursor: not-allowed;
    opacity: $ai-btn-disabled-opacity;
    box-shadow: none;

    > * {
      pointer-events: none; // 清除鼠标事件
    }
  }
}

// 控制大小
.ai-btn-lg {
  @include button-size(
    $ai-btn-padding-y-lg,
    $ai-btn-padding-x-lg,
    $ai-btn-font-size-lg,
    $ai-btn-border-radius-lg
  );
}

.ai-btn-md {
  @include button-size(
    $ai-btn-padding-y-md,
    $ai-btn-padding-x-md,
    $ai-btn-font-size-md,
    $ai-btn-border-radius-md
  );
}

.ai-btn-sm {
  @include button-size(
    $ai-btn-padding-y-sm,
    $ai-btn-padding-x-sm,
    $ai-btn-font-size-sm,
    $ai-btn-border-radius-sm
  );
}

// 组件type
.ai-btn-primary {
  @include button-style($primary, $primary, $white);
}

.ai-btn-danger {
  @include button-style($danger, $danger, $white);
}

.ai-btn-default {
  @include button-style($white, $gray-400, $body-color, $white, $primary);
}

// 链接时格式
.ai-btn-link {
  font-weight: $font-weight-normal;
  color: $ai-btn-link-color;
  text-decoration: $link-decoration;
  box-shadow: none;

  &:hover {
    color: $ai-btn-link-hover-color;
    text-decoration: $link-hover-decoration;
  }

  &:focus,
  &.focus {
    text-decoration: $link-hover-decoration;
    box-shadow: none;
  }

  &:disabled,
  &.disabled {
    color: $ai-btn-link-disabled-color;
    pointer-events: none;
  }
}

.ai-btn::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: radial-gradient(
    circle at var(--originX) var(--originY),
    #ccc 10%,
    transparent 10.1%
  );
  transform-origin: var(--originX) var(--originY);
  transform: scale(20);
  opacity: 0;
  transition: all 0.6s;
}

.ai-btn:active::after {
  transform: scale(0);
  opacity: 0.5;
  transition: 0s;
}

.ai-btn-glossy {
  background-image: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.3),
    rgba(255, 255, 255, 0) 50%,
    rgba(0, 0, 0, 0.12) 51%,
    rgba(0, 0, 0, 0.04)
  ) !important;
}
