@import './basic.scss';
@import "./mixin.scss";

.ai-btn {
  position: relative;
  display: inline-block;
  font-weight: $ai-btn-font-weight;
  line-height: $ai-btn-line-height;
  color: $body-color;
  white-space: nowrap;
  text-align: center;
  vertical-align: middle;
  background-image: none;
  border: $ai-btn-border-width solid transparent;
  @include button-size($ai-btn-padding-y,
    $ai-btn-padding-x,
    $ai-btn-font-size,
    $border-radius);
  box-shadow: $ai-btn-box-shadow;
  cursor: pointer;
  transition: $ai-btn-transition;

  &.disabled,
  &[disabled] {
    cursor: not-allowed;
    opacity: $ai-btn-disabled-opacity;
    box-shadow: none;

    >* {
      pointer-events: none; // 清除鼠标事件
    }
  }
}

.ai-btn-lg {
  @include button-size($ai-btn-padding-y-lg,
    $ai-btn-padding-x-lg,
    $ai-btn-font-size-lg,
    $ai-btn-border-radius-lg);
}

.ai-btn-sm {
  @include button-size($ai-btn-padding-y-sm,
    $ai-btn-padding-x-sm,
    $ai-btn-font-size-sm,
    $ai-btn-border-radius-sm);
}

.ai-btn-primary {
  @include button-style($primary, $primary, $white);
}

.ai-btn-danger {
  @include button-style($danger, $danger, $white);
}

.ai-btn-default {
  @include button-style($white,
    $gray-400,
    $body-color,
    $white,
    $primary,
    $primary);
}

.ai-btn-link {
  font-weight: $font-weight-normal;
  color: $ai-btn-link-color;
  text-decoration: $link-decoration;
  box-shadow: none;

  &:hover {
    color: $ai-btn-link-hover-color;
    text-decoration: $link-hover-decoration;
  }

  &:focus,
  &.focus {
    text-decoration: $link-hover-decoration;
    box-shadow: none;
  }

  &:disabled,
  &.disabled {
    color: $ai-btn-link-disabled-color;
    pointer-events: none;
  }
}