@use "sass:map";
@import "./mixin.scss";
.ai-badge {
  position: relative;
  display: inline-block;
  color: $body-color;
  white-space: nowrap;
  text-align: center;
  vertical-align: middle;
  background-image: none;
  font-size: small;
  padding: 5px;
  min-width: 15px;
  height: 15px;
  line-height: 15px;
  border-radius: 9999px;
  box-sizing: content-box;
}

.ai-badge-default {
  @include colors($white, map-get($map: $theme-colors, $key: "primary"), none);
}
.ai-badge-secondary {
  @include colors(
    $white,
    map-get($map: $theme-colors, $key: "secondary"),
    none
  );
}
.ai-badge-success {
  @include colors($white, map-get($map: $theme-colors, $key: "success"), none);
}
.ai-badge-warning {
  @include colors($white, map-get($map: $theme-colors, $key: "warning"), none);
}
.ai-badge-error {
  @include colors($white, map-get($map: $theme-colors, $key: "danger"), none);
}

.ai-badge-anchor {
  position: relative;
  display: inline-flex;
  vertical-align: middle;
  flex-shrink: 0;
  box-sizing: border-box;
}

sup {
  position: absolute;
  z-index: 1;
}

.ai-sup-topLeft {
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
  transform-origin: 0% 0%;
}

.ai-sup-topRight {
  top: 0;
  right: 0;
  transform: translate(50%, -50%);
  transform-origin: 100% 0%;
}

.ai-sup-bottomLeft {
  bottom: 0;
  left: 0;
  transform: translate(-50%, 50%);
  transform-origin: 0% 100%;
}

.ai-sup-bottomRight {
  bottom: 0;
  right: 0;
  transform: translate(50%, 50%);
  transform-origin: 100% 100%;
}
