@import "../../theme/themes/default/index.scss";
$ai-li-size-lg-x: 16px;
$ai-li-size-lg-y: 20px;
$ai-li-size-sm-x: 8px;
$ai-li-size-sm-y: 14px;
$ai-li-font-size-lg: $font-size-lg;
$ai-li-font-size-sm: $font-size-sm;
