@import "./mixin.scss";

input {
  display: none;
}

span.core:after {
  content: "";
  position: absolute;
  border-radius: 50%;
  transition: all 0.3s;
  width: 32px;
  height: 32px;
  background-color: #fff;
}

span.core {
  position: relative;
  display: block;
  display: flex;
  border-radius: 24px;
  width: 90px;
  height: 36px;
  cursor: pointer;
  background-color: rgb(22, 119, 255);
  &.off {
    background-color: rgb(191, 191, 191);
    &:after {
      top: 2px;
      left: 2px;
    }
    &:hover {
      background-color: rgb(140, 140, 140);
    }
  }

  &.on {
    background-color: rgb(22, 119, 255);
    &:after {
      top: 2px;
      left: 100%;
      margin-left: -34px;
    }
    &:hover {
      background-color: rgb(64, 150, 255);
    }
  }
}
