@import "./basic.scss";
@import "./mixin.scss";

input {
  display: none;
}

.switch {
  display: flex;
  height: $ai-sw-width / 2;
  align-items: center;
}

.switchValue {
  margin-left: 5px;
  color: $ai-sw-on-background;
}

span.core:after {
  content: "";
  position: absolute;
  border-radius: 50%;
  transition: all 0.3s;
  background-color: #fff;
}

span.core {
  position: relative;
  display: inline-block;
  @include switch-size($ai-sw-width);
  cursor: pointer;

  @include switch-color($ai-sw-off-background, $ai-sw-on-background);

  &:disabled,
  &.disabled {
    cursor: not-allowed;
    opacity: 0.8;
  }
}
