@mixin switch-size($span-width) {
  border-radius: $span-width * 0.5;
  width: var(--width);
  height: $span-width * 0.5;

  &:after {
    width: $span-width * 2 * 0.2;
    height: $span-width * 2 * 0.2;
  }

  &.off {
    &:after {
      top: $span-width * 0.05;
      left: $span-width * 0.05;
    }
  }

  &.on {
    &:after {
      top: $span-width * 0.05;
      left: 100%;
      margin-left: -($span-width * 9 * 0.05);
    }
  }
}
