@import "../../theme/themes/default/index";
.ai-table-filter-input-group {
  position: relative;
  margin: 15px 0;

  .ai-table-filter-input {
    background: white none;
    color: $gray-400;
    font-size: 18px;

    padding: 10px 10px 10px 5px;
    display: block;
    width: 100%;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid $gray-400;
    margin: 10px 0;

    &:focus {
      outline: none;
    }
  }

  label {
    color: $gray-400;
    font-size: 16px;
    letter-spacing: 6px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    transition: 300ms ease all;
  }

  .shrink {
    top: -20px;
    font-size: 15px;
    color: $black;
    letter-spacing: 4px;
  }
}
